body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #161b22;
}

.logo {
  font-size: 22px;
}

.logo span {
  color: #2f81f7;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #2f81f7;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 60px;
}

.hero-text span {
  color: #2f81f7;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #2f81f7;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #1f6feb;
}

/* ABOUT */
section {
  padding: 60px;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.skill-card {
  padding: 15px 25px;
  background: #161b22;
  border-radius: 15px;
}

/* PROJECTS */
.project-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.project-card {
  background: #161b22;
  padding: 25px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(47,129,247,0.2);
}

.btn-small {
  display: inline-block;
  margin-top: 15px;
  color: #2f81f7;
  text-decoration: none;
  font-weight: bold;
}

.btn-small:hover {
  text-decoration: underline;
}

/* CONTACT */
.contact-box {
  background: #161b22;
  padding: 25px;
  border-radius: 20px;
  display: inline-block;
}

footer {
  padding: 20px;
  text-align: center;
  background: #161b22;
}
